.header {
  margin-bottom: 40px !important;
}

.filter-div {
  margin-bottom: 30px;
  text-align: center;
}

.filter-div > input {
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  height: 40px;
  outline: none;
  padding-left: 5px;
  width: 20%;
}

.filter-div > span {
  font-size: 1.2em;
}

.table-body {
  min-height: 53% !important;
}

.btn-details {
  margin-right: 5px;
}

.resolve-btn {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.resolve-btn:hover {
  background-color: #218838;
  border-color: #1e7e34;
  color: #fff;
}

#resolveHeader {
  display: none;
}

@media (max-width: 768px) {
  .table-body {
    min-height: 65% !important;
  }
}