#resolveBtn {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff; 
  display: none;
}

#resolveBtn:hover {
  background-color: #218838;
  border-color: #1e7e34;
  color: #fff;
}

#resolveHeader {
  display: none;
}