@import url(https://fonts.googleapis.com/css?family=Kavivanar|Lobster|Merriweather);

body {
  background:url(http://res.cloudinary.com/dgbmeqmyf/image/upload/v1527768983/blue.png);
  background-position:center;
  background-size:cover;
}

.body-div {
  height: 100vh;
}

#signUp {
  background:transparent;
  border:3px solid #1d2951;
  border-radius: 10px;
  box-shadow: 10px 15px #000;
  color:rgb(199,189,189);
  font-family:Merriweather;
  margin:100px auto 0 auto;
  padding:30px;
  width:40%;
  min-height: 59.1%;
}

#signUp a {
  background:rgb(199,189,189);
  color:#1d2951;
  font-weight:bold;
  margin:auto;
  padding:5px 10px;
  text-align:center;
  text-decoration:none;
  transition:0;
  width:50%;
}

#signUp a:hover {
  background:rgb(156,145,145);
  cursor:pointer;
  transition:0;
}

.alert-class {
  background: rgb(129, 18, 18);
  color: #fff;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  display: none;
}

input[type="text"],input[type="password"],input[type="email"],input[type="number"] {
  background:transparent;
  border:none;
  border-bottom:2px solid #ddd;
  color:#fff;
  font-size:1em;
  height:20px;
  outline:none;
  width:100%;
}

input[type="submit"] {
  background:rgb(199,189,189);
  border-radius:8px;
  color:#1d2951;
  font-size:1em;
  font-weight:bold;
  margin:40px 30% 20px;
  outline:none;
  padding:10px 0;
  text-align:center;
  transition:0;
  width:40%;
}

input[type="submit"]:hover {
  background:rgb(156,145,145);
  cursor:pointer;
  transition:0;
}

@media(max-width: 768px) {
  #signUp {
    margin:90px auto 150px;
    width:60%;
  }

  input[type="submit"] {
    margin:60px 20% 20px;
    width:60%;
  }
}

@media(max-width: 500px) {
  #signUp {
    margin:90px auto;
    width:80%;
  }
}