@import url('https://fonts.googleapis.com/css?family=Kavivanar|Lobster|Merriweather');

body {
  background: #f2f2f2;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.main-body {
  height: 100vh;
}

.header {
  color:#000;
  font-family:Merriweather;
  height:100px;
  margin-bottom:10px;
  margin-top: 100px;
  text-align:center;
}

.header h1 {
  margin-top:10px;
}

.table-body {
  margin:0 auto 150px;
  margin-bottom: 90px;
  width:90%;
}

table {
  border:1px solid #ccc;
  border-collapse:collapse;
  margin:0;
  padding:0;
  table-layout:fixed;
  width:100%;
}

table tr:nth-child(even) {
  background-color:#fff;
}
table tr:nth-child(odd) {
  background-color:#ccc;
}

table th,table td {
  border:1px solid #ddd;
  padding:.625em;
  text-align:center;
}

table th {
  background-color:#1d2951;
  color:#fff;
  font-size:.85em;
  letter-spacing:.1em;
  padding-bottom:12px;
  padding-top:12px;
  text-transform:uppercase;
}

.btn {
  border:1px solid transparent;
  border-radius:.25rem;
  cursor:pointer;
  display:inline-block;
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  outline:none;
  padding:.375rem .75rem;
  text-align:center;
  transition:color .15s ease-in-out, 
  background-color .15s ease-in-out, 
  border-color .15s ease-in-out, 
  box-shadow .15s ease-in-out;
  vertical-align:middle;
  white-space:nowrap;
}

.btn-details {
  background-color:#007bff;
  border-bottom: #2980b9 3px solid;
  border-color:#6c757d;
  border-left: #2980b9 1px solid;
  border-right: #2980b9 1px solid;
  color:#fff;
  outline:none;
  transition: 0.5s;
}

.btn-details:hover {
  background: #334ec5;
  transition: 0.5s;
}

.btn-details:active {
  background: #2385C7;
  border-radius: 6px;
  margin-top: 3px;
  padding: 10px;
}

#btn-close {
  background-color:#dc3545;
  border-bottom: #a11533 3px solid;
  border-color:#6c757d;
  border-left: #a11533 1px solid;
  border-right: #a11533 1px solid;
  color:#fff;
  transition: 0.5s;
}

#btn-close:hover {
  background: #b42432;
  transition: 0.5s;
}

#btn-close:active {
  background: #a11533;
  border-radius: 6px;
  margin-top: 3px;
  padding: 10px;
}


@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


/* Modal Message */
.modal-div {
  background: #ccc;
  border-radius: 8px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  width: 50%;
  height: 200px;
}

.fa-check-circle {
  color:green;
  font-size:2em !important;
}

#modal-container {
  background-color: rgba(0,0,0,0.5);
  display: none;
  height: 100%; 
  left: 0;
  overflow: auto;
  position: fixed;
  padding-top: 100px;
  top: 0;
  width: 100%; 
  z-index: 100;  
}

#details-modal {
  background-color: rgba(0,0,0,0.5);
  display: none;
  height: 100%; 
  left: 0;
  overflow: auto;
  position: fixed;
  padding-top: 100px;
  top: 0;
  width: 100%; 
  z-index: 100;  
}

#close {
  background: #882222;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-right: 150px;
  margin-top: 20px;
  outline: none;
  padding: 10px 20px;
}

#proceed {
  background: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  float: left;
  margin-left: 150px;
  margin-top: 20px;
  outline: none;
  padding: 10px 20px; 
}

#messageId {
  margin-top: 60px;
  font-size: 1.2em;
}

#closeAfterdelete {
  background: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
  padding: 10px 20px;
}