@import url('https://fonts.googleapis.com/css?family=Kavivanar');

body {
  background:url(http://res.cloudinary.com/dgbmeqmyf/image/upload/v1527768983/blue.png);
  background-position:center;
  background-size:cover;
}

#profile-card {
  background:#134278;
  border:none;
  box-shadow: 5px 10px #000;
  color:rgb(199,189,189);
  font-family:Merriweather;
  margin:90px auto 0 auto;
  min-height: 70%;
  opacity:0.86;
  padding:40px;
  width:25%;
}

#role-title {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Kavivanar';
  font-weight: bold;
}

.image-div {
  color: #000;
  text-align: center;
  width: 100%;
}

.image-div > img {
  border-radius: 100px;
  width: 50%;
}

.contact-div {
  border-radius: 10px;
  background: #ddd;
  color: #000;
  margin-top: 50px;
  padding: 10px 20px 10px 20px;
  width: 90%;
}

.contact-div > p > span > a {
  float: right;
}

@media (max-width: 768px) {
  #profile-card {
    width:50%;
  }
}

@media (max-width: 550) {
  #profile-card {
    width:100%;
  }
}